# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio junk
*.tlog
*.log
*.recipe
*.filters
*.user
*.lastbuildstate
*.ipch
*.suo
*.db
src/.vs/ga2022/v17/Browse.VC.opendb
src/.vs/ga2022/FileContentIndex/0d12418e-90ba-44a3-ac13-b1af69b44674.vsidx
src/.vs/ga2022/FileContentIndex/7584d6f1-d9e8-477e-a4f0-58c3a255458c.vsidx
src/.vs/ga2022/FileContentIndex/read.lock
src/.vs/ga2022/v17/Browse.VC.db-shm
src/.vs/ga2022/v17/Browse.VC.db-wal
src/ga2022-crash.dmp
